<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar type="text" placeholder="Artiste" [(ngModel)]="nom"  (keyup.enter)="ListArtists(this.nom)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let artist of artists.data" (click)="ListAlbums(artist.tracklist)">
    <img src="{{artist.picture_big}}"/>
    <ion-card-content>
      <ion-card-title>
        {{ artist.name }}
        </ion-card-title>
      <p>
        {{ artist.nb_album }} Albums.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
